<div class="container">

    <section class="hero is-fullheight">
        <div class="hero-head">
            <header class="nav">
                <div class="container">
                    <div class="nav-center">
                        <a href="#" class="nav-item nav-logo">alt-facts</a>
                    </div>
                    {{!-- <div class="nav-left is-hidden-touch" id="nl">
                        <a class="nav-item nav-logo">
                            alt-facts
                        </a>
                    </div> --}}


                </div>
            </header>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <form action="/auth/login" method="GET">
                    <button class="button is-danger">login with google</button>

                </form>

            </div>
        </div>
</div>
